/**
 *  Bulk of mobile logic should go here
 */
@media screen and (min-width: 0px) and (max-width: 720px) {
    #content-area, #content-area-right, #content-area-left {
        width: 100%;
        float: none;
        clear: both;
    }

    .share-button {
        width: 100%;
        margin: 10px 0;
        padding: 0;
        text-align: center;
    }

    .share-button a {
        width: 100%;
        text-decoration: none;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    #recent-updates, #rss {
        border-left: 0;
        border-right: 0;
    }

    #login-mobile {
        display: inline-block;
        visibility: visible;
        margin: 10px 0 0 0;
        padding: 0;
        background: black;
        width: 100%;
        height: auto;
        min-width: 210px;
        border-bottom: 1px #fff solid;
        float: none;
        clear: both;
    }

    #login {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    #interactions-mobile {
        display: block;
        visibility: visible;
        margin: 0 0 10px 0;
        padding: 0;
        width: auto;
        text-align: center;
        height: auto;
        background: #111111;
        float: none;
    }

    #interactions {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .label30 {
        float: none;
        width: 100%;
    }

    .input70 {
        float: left;
        width: 100%;
    }

    .input70 input {
        float: none;
        width: 100%;
    }

    .input70 select {
        width:94%;
        margin:auto 5px;
    }
}

/**
 *  Smaller screen logic
 */
@media screen and (min-width: 0px) and (max-width: 300px) {
    #tabs ul li.tab-label a {
        display: block;
        width: 85px;
        text-decoration: none;
        margin: 0;
        padding: 5px 0;
        color: #76FF03;
        border: none;
        border-bottom: 0;
    }

    #tabs ul.tab-set {
        float: none;
        width: 100%;
        margin: 10px 0;
        padding: 0;
        border-bottom: 1px #fff solid;
        list-style-type: none;
    }

    #tabs ul li.tab-label {
        background: black;
        margin: 0;
        padding: 0 8px;
        text-align: left;
        float: none;
        font-size: .9em;
    }

    #tabs ul li.tab-label.active {
        background: #fff;
        margin: 0;
        padding: 0 8px;
        text-decoration: none;
        position: relative;
        top: 1px;
        border: 1px #76FF03 solid;
    }

}

/**
 *  Clearing logic
 */
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    display: inline-block;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}